*{
    color: #002955;
}
.header{
    text-align: center;
    margin-top: 20px;

}
.showcart{
    float: left;
    position: fixed;
    font-size: 18px;
    color: #002955;
    border-radius: 10px;
    padding: 10px;
    top: 20px;
    align-items: center;
    margin-top: 60px;
    margin-left: 50px;
}

img{
    width: 100px;
}
table{
    margin-top: 40px;
    border-radius: 5px;
    width: 140%;
    align-items: center;
    text-align: left;
    background-color: #e4eaf0;
}
th, td{
    border-bottom: 1px solid;
    padding: 10px ;
}
#sp p{
    margin-left: 150px;
    margin-top: -50px;
}
.than-giohang{
    border: 0.1rem solid #002955;
}
.right{
    float: right;
    width: 30%;
    margin-top: 110px;
    margin-right: 85px;
}

.giaohang{
    background-color: #e4eaf0;
    padding: 10px;
    border-radius: 5px;
}
.giaohang a{
        float: right;
        margin-right: 20px;
}
a{
        color: blue;
}
.khuyenmai{
    margin-top: 10px;
    background-color: #e4eaf0;
    padding: 10px;
    border-radius: 5px;
}

.tinhtien{
    margin-top: 10px;
    background-color: #e4eaf0;
    padding: 10px;
    border-radius: 5px;
    height: 120px;
}
.tinhtien-right{
    float: right;
}
.tinhtien-left{
    float: left;
}
